.navbar {
  background-color: #80F;
  color: #ffffff;
}


.register-form {
  padding: 20px;
}

.register-form input {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-img-top {
  max-height: 400px;
  object-fit: cover;
}

.add-event-form {
  max-width: 1200px;
  width: 70%;
  padding: 50px;
  background-color: rgba(178, 212, 187, .7);
  border-radius: 20px;
}

.form-image {
  min-height: 120px;
}

#eventImage {
  display: none;
}

#output {
  margin-left: 20px;
}

.close {
  margin-left: 10px;
}

.flash{
}
