/* Github: matt-oc */
html {
  height: 100%;
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

body {
  color: #777777;
  font-family: 'Roboto', monospace;
  max-width: 100%;
  position: relative;
  min-height: 100vh;
  margin-bottom: 40px;
}

h1, h2, h4, h5 {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  margin: 40px 0 40px 0;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.2rem
}

h5 {
  font-size: 1.7rem;
  margin: 20px;
}

strong {
  color: #333634;
}

a {
  color: #219FBC;
}

a:hover {
  color: #9AB879;
}

.navbar {
  background-color: #49284F;
  color: #000000;
}

.navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  color: #000;
}

.nav-item {
  margin: 0 12px 0 12px;
}

.register-form, .login-form, .contact-form {
  padding: 20px;
}

.register-form input, .login-form input, .contact-form input, .contact-form textarea {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-img-top {
  max-height: 400px;
  object-fit: cover;
}

.add-event-form, .edit-event-form, .admin-form {
  max-width: 1200px;
  width: 50%;
  padding: 50px;
  background-color: rgba(178, 212, 187, .4);
  border-radius: 20px;
}

.admin-form {
  width: 80%;
}

.map {
  width: 100%;
  height: 300px;
}

.full-map .map {
  width: 100%;
  height: 70vh;
}

.navbar-brand img {
  height: 60px;
    margin-top: -12px;
    margin-bottom: -12px;
}

.form-image {
  min-height: 120px;
}

.form-group {
  margin-bottom: 1.5rem
}

.short {
  width: 25%;
}

#eventImage {
  display: none;
}

#output {
  margin-left: 20px;
}

.close {
  margin-left: 10px;
}

.blue {
  color: #219ebc;
}

.orange {
  color: #9ab87a;
}

.right {
  float: right;
}

.left {
  float: left;
}

.back {
  font-size: 1.2rem
}

.card {
  box-shadow: 0 5px 21px 0 rgb(0 0 0 / 10%);
  width: 60%;
}

.btn-primary {
  background-color: #9ab87a;
  border-color: #9ab87a;
}

.btn-primary:hover {
  border-color: #9ab87a!important;
}

.btn-nav {
  margin-right: 5px;
  background-color: rgba(240,160,122, 1);
  border-bottom-left-radius: 10px;
}

.btn-nav:hover {
  background-color: rgba(240,160,122, .7);
}

.attend li{
  display: inline;
}

.attend {
  margin: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.btn-primary:hover {
  background-color: #c0edc9;
  border-color: #DC565C;
}

.form-inline {
  width: 100%;
  justify-content: center;
}

.search-input {
  width: 50%;
}

.search-button {
  border-radius: 80px;
  height: 3rem;
  width: 3rem;
  background-color: #9ab87a;
}

.search-button:hover {
  background-color: #9ab87a;
  border: 1px solid #48294F;
}

#query {
  padding: 28px;
  width: 100%;
}

.content {
  margin-bottom: 5rem;
}

/* Footer */
/*  sticky footer adapted from https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly */
.footer {
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 1.1rem;
  background-color: #49284F;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.footer i {
  color: #9ab87a;
  font-size: 1.4rem;
  margin-left: 5px;
}

.footer-item {
  margin: 0 20px 0 20px;
  opacity: .7
}

.footer-credits:hover {
  opacity: 1;
}

.button-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.button-container .btn-primary {
  margin: 10px;
}

/* Media queries */
@media screen and (max-width: 992px) {
  .add-event-form, .edit-event-form {
    width: 85%;
  }
  .nav-item {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 98%;
  }

  .search-input {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .navbar-brand img {
    height: 40px;
  }
}
