{% extends "base.html" %}
{% block content %}

<h2> Edit Event </h2>
<div class="row">
  <div class="col-12 justify-content-center d-flex">
    <form action="{{ url_for('add_event')}}" method="POST" id="addEvent" class="add-event-form" enctype="multipart/form-data">
      <fieldset>
        <div class="form-group">
          <label for="eventName">Event Name</label>
    <input type="text" class="form-control" id="eventName" name="eventName" minlength="3" required>
  </div>
  <div class="form-group">
    <label for="categoryInput">Category</label>
    <select class="form-control" id="categoryInput" name="categoryInput" required>
      {% for category in categories %}
      <option>{{ category.category_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="countyInput">County</label>
    <select class="form-control" id="countyInput" name="countyInput" required>
      {% for county in counties %}
      <option>{{ county.county }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="eventLocation">Event Location</label>
<input type="text" class="form-control" id="eventLocation" name="eventLocation" minlength="3" required>
</div>
<div class="form-group">
  <label for="eventTime">Event time</label>
<input type="text" class="form-control" id="eventTime" name="eventTime" required>
</div>
<div class="form-group">
  <label for="eventDate">Event Date</label>
  <input id="eventDate" name="eventDate" class="form-control"  readonly="" placeholder="Click to Select Date" required>
</div>
<div class="form-group">
  <label for="eventCost">Cost</label>
<input type="text" class="form-control" id="eventcost" name="eventCost" required>
</div>
  <div class="form-group">
    <label for="eventDescription">Event Description</label>
    <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" required></textarea>
  </div>
  <div class="form-group form-image">
    <label for="eventImage" style="cursor: pointer;"><i class="fas fa-upload"></i> Upload Event Image (Optional)</label>
<input type="file" accept="image/*" name="eventImage" id="eventImage" onchange="loadFile(event)"/>
<img id="output" width="200" />
  </div>
  </fieldset>
  <button type="submit" form="addEvent" class="btn btn-primary" id="addEvent-submit">Submit</button>
</form>
  </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add_event_scripts.js') }}"></script>

{% endblock scripts %}
