{% extends "base.html" %}
{% block content %}

<h2> Add New Event </h2>
<div class="row">
  <div class="col-12 justify-content-center d-flex content">
    <form action="{{ url_for('add_event')}}" method="POST" id="addEvent" class="add-event-form" enctype="multipart/form-data">
      <fieldset>
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input type="text" class="form-control" id="eventName" name="eventName" minlength="3" required>
        </div>
        <div class="form-group">
          <label for="categoryInput">Category</label>
          <select class="form-control" id="categoryInput" name="categoryInput" required>
            <option value="">Choose</option>
            {% for category in categories %}
            <option>{{ category.category_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="countyInput">County</label>
          <select class="form-control" id="countyInput" name="countyInput" required>
            <option value="">Choose</option>
            {% for county in counties %}
            <option value="">{{ county.county }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="eventLocation">Event Location</label>
          <input type="text" class="form-control" id="eventLocation" name="eventLocation" minlength="3" required>
        </div>
        <div class="form-group">
          <label for="eventTime">Event time</label>
          <input type="text" class="form-control" id="eventTime" name="eventTime" required>
        </div>
        <div class="form-group">
          <label for="eventDate">Event Date</label>
          <input id="eventDate" name="eventDate" class="form-control" readonly="" placeholder="Click to Select Date" required>
        </div>
        <div class="form-group">
          <label for="eventCost">Cost</label>
          <input type="text" class="form-control" id="eventCost" name="eventCost" required>
        </div>
        <div class="form-group">
          <label for="eventDescription">Event Description</label>
          <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" required></textarea>
        </div>
        <div class="form-group form-image">
          <label for="eventImage" style="cursor: pointer;"><i class="fas fa-upload"></i> Upload Event Image (Optional)</label>
          <input type="file" accept="image/*" name="eventImage" id="eventImage" onchange="loadFile(event)" />
          <img id="output" width="100" src="{{ url_for('static', filename='images/upload.svg') }}" alt="Event_image"/>
          <div class="form-group mt-4">
            <h4>Select Location</h4>
          <div class="col-12 d-flex justify-content-center p-0 mb-0 mt-4 content">
            <div class="map" id='gmap_canvas'></div>
            </div>
        </div>
      </fieldset>

      <div class="button-container">
        <button type="submit" form="addEvent" class="btn btn-primary" id="addEvent-submit">Submit</button>
        <a class="btn btn-primary" href="{{url_for('get_events')}}" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/add_event_scripts.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACAJVZiLB1uIT6UsF5Xh8uiJZoLfU48iQ&amp;callback=initMap" async="" defer=""></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>

{% endblock scripts %}
