{% extends "base.html" %}
{% block content %}
{% if admin == true %}
<h2> Admin Tools </h2>

<div class="row justify-content-around pb-4">
  <div class="col-lg-6 col-12 justify-content-center d-flex content">
    <form action="{{ url_for('remove_admin')}}" method="POST" id="removeAdmin" class="admin-form" enctype="multipart/form-data">
      <h5>Remove Admin</h5>
      <fieldset>
        <div class="form-group">
          <label for="adminInput">Current Administrators</label>
          <select class="form-control" id="adminInput" name="adminInput"required>
            {% for admin in admins %}
            <option>{{ admin.admin }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="submit" form="removeAdmin" class="btn btn-primary" id="removeAdmin-submit">Remove admin</button>
      </div>
    </form>
  </div>



  <div class="col-lg-6 col-12 justify-content-center d-flex content">
    <form action="{{ url_for('unban_user')}}" method="POST" id="removeBanned" class="admin-form" enctype="multipart/form-data">
      <h5>Unban a User</h5>
      <fieldset>
        <div class="form-group">
          <label for="bannedUserInput">Currently Banned Users</label>
          <select class="form-control" id="bannedUserInput" name="bannedUserInput" required>
            {% for banned_user in banned %}
            <option>{{ banned_user.user }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="submit" form="removeBanned" class="btn btn-primary" id="removeBanned-submit">Unban user</button>
      </div>
    </form>

  </div>



  <div class="col-lg-6 col-12 justify-content-center d-flex content">
    <form action="{{ url_for('add_admin')}}" method="POST" id="addAdmin" class="admin-form" enctype="multipart/form-data">
      <h5>Make User an Admin</h5>
      <fieldset>
        <div class="form-group">
          <label for="adminInput">Current Users</label>
          <select class="form-control" id="adminInput" name="adminInput"required>
            {% for user in users %}
            <option>{{ user.user }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="submit" form="addAdmin" class="btn btn-primary" id="addAdmin-submit">Make admin</button>
      </div>
    </form>
  </div>



  <div class="col-lg-6 col-12 justify-content-center d-flex content">
    <form action="{{ url_for('ban_user')}}" method="POST" id="addBanned" class="admin-form" enctype="multipart/form-data">
      <h5>Ban a User</h5>
      <fieldset>
        <div class="form-group">
          <label for="bannedUserInput">Current Users</label>
          <select class="form-control" id="userInput" name="userInput" required>
            {% for user in users %}
            <option>{{ user.user }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="submit" form="addBanned" class="btn btn-primary" id="addBanned-submit">Ban user</button>
      </div>
    </form>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-12">
    <h2>Sorry we can't seem to find what you are looking for.</h2>
    <div class="row d-flex justify-content-center">
      <a class="home-link" href="{{ url_for('get_events') }}">click here to go back to the homepage</a>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
