{% extends "base.html" %}
{% block content %}

<h2> Admin Tools </h2>

<div class="row">
  <div class="col-12 justify-content-center d-flex content">
    <form action="{{ url_for('ban_list')}}" method="POST" id="editBanned" class="admin-form" enctype="multipart/form-data">
      <fieldset>
        <div class="form-group">
          <label for="categoryInput">Administrators</label>
          <select class="form-control" id="categoryInput" name="categoryInput"required>
            <option value="">Choose</option>
            {% for admin in admins %}
            <option>{{ admin.admin }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="countyInput">Banned Users</label>
          <select class="form-control" id="countyInput" name="countyInput" required>
            <option value="">Choose</option>
            {% for banned_user in banned %}
            <option>{{ banned_user.user }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="submit" form="editEvent" class="btn btn-primary" id="addEvent-submit">Save</button>
        <a class="btn btn-primary" href="{{url_for('get_events')}}" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
