<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Irish Motor Events</title>
  <!--Static Files-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>

  <!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('get_events') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_events') }}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('view_map') }}">Map</a>
        </li>
        {% if session.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_event') }}">New Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout<i class="fas ml-2 fa-sign-out-alt"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <button type="button" class="btn btn-nav" data-toggle="modal" data-target="#registerModal">
            <i class="fas fa-user-edit mr-1"></i>Register
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-nav" data-toggle="modal" data-target="#loginModal">
            <i class="fas fa-user mr-1"></i>Login
          </button>
        </li>
      </ul>
        {% endif %}
    </div>
  </nav>
  <!--/Navigation Bar-->

  <!-- flash messages -->
  <section>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="container-fluid d-flex align-items-center justify-content-center mt-5 flash" id="flash">

      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    </div>

    {% endfor %} {% endif %} {% endwith %}
  </section>

  <!--Content-->
  <section>
    <div class="container-fluid">
      {% block content %} {% endblock %}
    </div>
  </section>
  <!--/Content-->


  <!--Login-->
  {% include 'login.html' %}

  <!--Register-->
  {% include 'register.html' %}

  <!--Contact-->
  {% include 'contact.html' %}



  <!--Footer-->
  <footer class="footer py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <span class="footer-item">Site by: <a href="https://github.com/matt-oc" target="_blank"><i class="fab fa-github"></i></a></span>
          <span class="footer-item">Follow us on Facebook: <a href="https://www.facebook.com/groups/250213448769344" target="_blank"><i class="fab fa-facebook-square"></i></a></span>
          <span class="footer-item">Need Help?: <a href="#0" data-toggle="modal" data-target="#contactModal"><i class="far fa-question-circle"></i></a></span>
        </div>
      </div>
    </div>
  </footer>
  <!--/Footer-->

  <!--Scripts-->
  <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  {% block scripts %}
  {% endblock scripts %}
  <!--/Scripts-->
</body>

</html>
