{% extends "base.html" %}
{% block content %}

<!--Search Bar for Events-->
<section>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 justify-content-center d-flex mt-5 mb-5">
{% include 'search.html' %}
</div>
</div>
</div>
</section>
<!--/Search Bar-->

{% for event in events %}
{{ event.event_name}}<br>
<div class="row m-0 p-0">
  <div class="col-12 d-flex justify-content-center m-0 p-0">
<div class="card mb-3 w-75">
  <img class="card-img-top" src="/static/images/default-event.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ event.event_name}}</h5>
    <p class="card-text">{{ event.category_name}}</p>
    {{event.event_image}}
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>
</div>

{% endfor %}

{% endblock %}
