{% extends "base.html" %}
{% block content %}
<!--Back to all events-->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 justify-content-around d-flex mt-5 mb-5">
        <a href="{{url_for('get_events')}}"><i class="fas fa-angle-double-left mr-1 back"></i>Go Back</a>
      </div>
    </div>
  </div>
</section>
<!--/back-->

{% if event|length > 0 %}
<div class="row p-0">
  <div class="col-12 d-flex justify-content-center p-0 content">
    <div class="card mb-3 w-md-60">
      <img class="card-img-top" src="{{ url_for('file', filename=images[0]) }}" alt="Event image" onerror="this.src='/static/images/default-event.jpg'">
      <div class="card-body">
        <h3 class="card-title">{{ event.event_name }}</h3>
        <p class="card-text blue">{{ event.category_name }}</p>
        <hr>
        <p class="card-text"><strong>When:</strong> {{ event.event_date }}</p>
        <p class="card-text"><strong>At:</strong> {{ event.event_time }}</p>
        <p class="card-text"><strong>In:</strong> {{ event.event_county }}</p>
        <p class="card-text"><strong>Location:</strong> {{ event.event_location }}</p>
        <p class="card-text"><strong>€</strong> {{ event.event_cost }}</p>
        <p class="card-text"><strong>Attendees:</strong> {{ event.attendees|length }}</p>
        <p class="card-text">{{ event.event_description }}</p>
        <p class="card-text"><small class="text-muted right">posted by: {{ event.created_by }}</small></p>
        <div class="col-12 d-flex justify-content-end">
          <a href="#" class="fb m-2" onclick="fbShare()" title="Share on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="tw twitter-share m-2" onclick="twShare()" title="Share on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 d-flex justify-content-start mb-3">
          {% if session.user == event.created_by or admin == true %}
          <a class="btn btn-primary mr-2" href="{{url_for('delete_event', event_id=event._id)}}" onclick="return confirm('Are you sure you want to delete?');" role="button">Delete</a>
          <a class="btn btn-primary mr-2" href="{{url_for('edit_event', event_id=event._id)}}" role="button">Edit</a>
          {% endif %}
          {% if session.user %}
          {% for attendee in event.attendees %}
          {% if session.user == attendee %}
          <a class="btn btn-primary mr-2" href="{{url_for('dismiss_event', event_id=event._id)}}" role="button">Not Going</a>
          {% elif session.user != attendee and loop.last %}
          <a class="btn btn-primary mr-2" href="{{url_for('attend_event', event_id=event._id)}}" role="button">Going</a>
          {% endif %}
          {% endfor%}
          {% if event.attendees|length == 0 %}
          <a class="btn btn-primary mr-2" href="{{url_for('attend_event', event_id=event._id)}}" role="button">Going</a>
          {% endif %}
          {% endif %}
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center p-0 mb-0 content">
            <div class="map" id='gmap_canvas' data-lat="{{ event.lat }}" data-lng="{{ event.lng }}"></div>
          </div>
        </div>
        {% if event.attendees|length != 0 %}
        <div class="col-12 d-flex justify-content-start">
          <ul class="attend">
            <small class="text-muted">Attendees:</small>
            {% for attendee in event.attendees %}
            {% if loop.last %}
            <li><small class="text-muted"> {{ attendee }}</small></li>
            {% else %}
            <li><small class="text-muted">{{ attendee }},</small></li>
            {% endif%}
            {% endfor%}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% else %}
<h2> No results found </h2>
{% endif %}

{% endblock %}

{% block scripts %}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACAJVZiLB1uIT6UsF5Xh8uiJZoLfU48iQ&amp;callback=initMap" async="" defer=""></script>
<script src="{{ url_for('static', filename='js/maps.js') }}"></script>


{% endblock scripts %}
