{% extends "base.html" %}
{% block content %}
<!--Back to all events-->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 justify-content-start d-flex mt-5 mb-5">
        <a href="{{url_for('get_events')}}"><i class="fas fa-angle-double-left mr-1"></i>Go Back</a>
      </div>
    </div>
  </div>
</section>
<!--/back-->

{% if event|length > 0 %}
<div class="row p-0">
  <div class="col-12 d-flex justify-content-center p-0 content">
    <div class="card mb-3 w-md-60">
      <img class="card-img-top" src="{{ url_for('file', filename=images[0]) }}" alt="Event image" onerror="this.src='/static/images/default-event.jpg'">
      <div class="card-body">
        <h3 class="card-title">{{ event.event_name }}</h3>
        <p class="card-text blue">{{ event.category_name }}</p>
        <hr>
        <p class="card-text"><strong>When:</strong> {{ event.event_date }}</p>
        <p class="card-text"><strong>At:</strong> {{ event.event_time }}</p>
        <p class="card-text"><strong>In:</strong> {{ event.event_county }}</p>
        <p class="card-text"><strong>Location:</strong> {{ event.event_location }}</p>
        <p class="card-text"><strong>€</strong> {{ event.event_cost }}</p>
        <p class="card-text">{{ event.event_description }}</p>
        <p class="card-text"><small class="text-muted right">posted by: {{ event.created_by }}</small></p>
        <a href="#" class="fb" onclick="fbShare()" title="Share on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="tw twitter-share" onclick="twShare()" title="Share on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        {% if session.user == event.created_by or admin == true %}
        <a class="btn btn-primary" href="{{url_for('delete_event', event_id=event._id)}}" onclick="return confirm('Are you sure you want to delete?');" role="button">Delete</a>
        <a class="btn btn-primary" href="{{url_for('edit_event', event_id=event._id)}}" role="button">Edit</a>
        {% endif %}
        {% for attendee in event.attendees %}
        {% if session.user == attendee %}
        <a class="btn btn-primary" href="{{url_for('dismiss_event', event_id=event._id)}}" role="button">Not Going</a>
        {% endif %}
        {% else %}
        <a class="btn btn-primary" href="{{url_for('attend_event', event_id=event._id)}}" role="button">Going</a>
        {% endfor%}
      </div>
    </div>
  </div>
</div>


{% else %}
<h2> No results found </h2>
{% endif %}

{% endblock %}
